.sharedTech {
  padding: 200px 50px 50px;
  margin: 100px 50px 50px;
  position: relative;
  min-height: 400px;

  @media (max-width: 768px) {
    padding: 100px 50px 50px;
  }
  @media (max-width: 576px) {
    padding: 100px 20px 20px;
    margin: 100px 20px 50px;
  }
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
  // opacity: 0.7;

  &_para {
    max-width: 550px;
    width: 100%;
    display: flex;
    flex-direction: column;
    bottom: 50px;
    left: 50px;
    overflow-wrap: break-word;

    > div {
      display: flex;
      align-items: center;
      grid-gap: 10px;
    }
  }
}
